body{

  margin: 0px;
  padding: 0px;
}

.container{
  width: 100%;

  margin: 0px auto;
  display: flex;
  flex-direction: column;
  position: relative;
  
  
}
.header{
  display: flex;
  flex-direction: row;
  background-color: #717171;
  justify-content: space-between;
  
}
ul{

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header li{
 margin: 10px;
  background-color: #bbb;
  padding: 5px;
}
.header a{
  margin: 50px ;
  text-decoration: none;
  color: black;

}
.header li:hover{
  background-color:bisque;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 10px;

}
.logo{
  background-color: #717171;
  padding: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.logoimg{
  display: flex;
flex-direction:row-reverse ;
  justify-content: space-around;
  padding: 20px;
}
.logoimg img{
  border: 1px solid black;
  
}


.container_sp{
  flex-direction: row;
  justify-content: first baseline;
  width: 100%;
  display: flex;
  min-height: 300px;
position: relative;
padding: 10px;
background-image: url(style/br1.jpg);
background-size: 100% 100%;

}
.congti1{
  padding: 5px;
}
.container_sp img{
  height: 300px;
  border: 1px solid black;

}
.congti2 p{
  margin-top: 0px;

  color: white;
}
.congti2 button:hover{
  background-color:#bbb ;
}
.service {
 margin:0px ;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.service-row {
  background-color: #717171;
  min-height: fit-content;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid black;
}
.item :hover{
  background-color:#bbb ;
  display: block;
}
.description {
  width: 170px;
  justify-content: center;
}
.description a button{
  background-color: aquamarine;
}

.image img {
  margin:5px;
  width: 150px;
  height: 170px;
  background-color: aqua;
}


.formlh{
background-image: url("style/bk1.jpg");
background-size: 100% 100%;
padding: 30px;
   
}
.form-dangki{}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
max-width: 1000px;
position: relative;
margin: 10px auto;
}

/* Hide the images by default */
.mySlides {
display: none;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}


@-webkit-keyframes my {
  0% {
      color: #ffff00;
  }

  50% {
      color: red;
  }

  100% {
      color: #ffff00;
  }
}

@-moz-keyframes my {
  0% {
      color: #ffff00;
  }

  50% {
      color: red;
  }

  100% {
      color: #ffff00;
  }
}

@-o-keyframes my {
  0% {
      color: #ffff00;
  }

  50% {
      color: red;
  }

  100% {
      color: #ffff00;
  }
}

@keyframes my {
  0% {
      color: #ffff00;
  }

  50% {
      color: red;
  }

  100% {
      color: #ffff00;
  }
}

h3 {
  -webkit-animation: my 700ms infinite;
  -moz-animation: my 700ms infinite;
  -o-animation: my 700ms infinite;
  animation: my 700ms infinite;
}