body{
margin: 0px;
padding: 0px;
}
.menu ul{
    background-color: gray;
    text-align: center;

    
}
.menu li{
    display: inline-table;
    margin: 20px;
    
}
.menu a{
    text-decoration: none;
    font-size: 20px;
    color: brown;


}
.menu a:hover{
    background-color: azure;
    color: black;
}